{% set numMonths = 11 %}
<input type="hidden" value="{{ 'now'|date('Y') }}" id="cur_date"/>
<select name="setmo" id="setmo"
data-request = "{{ __SELF__ }}::onRefreshList"
data-request-update = "'{{__SELF__}}::highlights_ajax': '#highlights_list'"
data-request-data = "month: $('#setmo').val()"
>
    {% for i in 0..numMonths %}
        * {{ i }}
        <option value="{{i}}">{{ 'now'|date_modify("+" ~ i ~ " month")|date("M") |_ }}</option>
    {% endfor %}
</select>

<div id="highlights_list">
    {% partial  __SELF__ ~ "::highlights_ajax" %}
</div>